/* Reset some default styles to ensure consistent behavior */
html, body, div, span, h1, h2, h3, h4, h5, h6, p, a, img, ul, li {
    margin: 0;
    padding: 0;
    border: 0;
    font: inherit;
    vertical-align: baseline;
}

/* Apply a box-sizing border-box to all elements for more predictable sizing */
*, *:before, *:after {
    box-sizing: border-box;
}

/* Set a base font size and line height for better readability */
body {
    font-family: Arial, sans-serif;
    font-size: 16px;
    line-height: 1.5;
}

/* Add a max-width to prevent content from stretching too wide on larger screens */
.container {
    max-width: 1200px;
    margin: 0 auto;
    padding: 0 20px;
}

#hud {
    display: flex;
    justify-content: space-around;
    margin: 2rem auto;
}

body {
    background-image: url("../images/bg.png");
    overflow-x: hidden;
}


/*Main card container*/

#flip-card-container {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}

/*#flip-card-container {*/
/*    border: 1px solid black;*/
/*    display: grid;*/
/*    grid-template-columns: repeat(6, 1fr); !* 6 items per row *!*/
/*    gap: 1rem;*/
/*    max-width: 90vw;*/
/*    !*margin: 1rem 2rem;*!*/
/*}*/

.cardDiv {
    display: block;
    max-width: calc(100% / 6);
    padding: 0.5rem;
    overflow: hidden;
    transition-duration: 0.4s;
}

.cardDiv>img {
    height: auto;
    width: 100%;
}

.cardDiv:hover {
    transform: translateY(-25px);
    transition-duration: 0.4s;
}

.front {
    transform-style: preserve-3d;
    transition: all 0.5s ease;
    transform: rotateY(180deg);
}

/*.cardDiv>img:hover {*/
/*    transform: translateY(-50px);*/
/*}*/

/*Overlay div to block clicks during card reveal turn*/

.overlay {
    height: 200vh;
    position: absolute;
    top: 0;
    left: 0;
    width: 100vw;
}

.timer {
    text-align: center;
}

#scoresKeeper>p {
    border: 1px solid black;
    padding: 0.2rem;
}